[Unit]
Description=Simple Messenger
After=network.target

[Service]
User=root
Group=root

WorkingDirectory=/home/plov-cyber/SimpleMessenger/
ExecStart=/usr/bin/python3.6 /home/plov-cyber/SimpleMessenger/server.py

[Install]
WantedBy=multi-user.target
