{% extends "dialogues.html" %}

{% block messages %}
<div class="container-fluid">
    <div class="row rounded" style="background-color: #C4EAFF;">
        {% if dialogue.name %}
        <h5>{{ dialogue.name }}</h5>
        {% else %}
        {% for user in users[dialogue.id] if user.login != current_user.login %}
        <h5>{{ user.name }} {{ user.surname }}</h5>
        {% endfor %}
        {% endif %}
    </div>
    <br>
    <div class="row rounded" style="background-color: white;">
        <div class="container-fluid" style="width: 100%; overflow: auto; height: 500px;">
            {% for message in dialogue_messages %}
            {% for user in dialogue_users if user.id == message.user_id %}
            {% if user.login == current_user.login %}
            <div class="row" style="margin: 5px 5px 5px 0px;">
                <div class="col-6"></div>
                <div class="col-6 rounded" style="background-color: #EDEDED">
                    <div style="width: 100%;">
                        <strong>{{ user.name }}{{ user.surname }}</strong>
                    </div>
                    <div>
                        {{ message.text }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row" style="margin: 5px 0px 5px 5px;">
                <div class="col-6 rounded" style="background-color: #EDEDED">
                    <div style="width: 100%;">
                        <strong>{{ user.name }}{{ user.surname }}</strong>
                    </div>
                    <div>
                        {{ message.text }}
                    </div>
                </div>
                <div class="col-6"></div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="row rounded">
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="form-group row">
                <div class="col-10">
                    {{ form.text(class="form-control", rows="3", cols="70") }}
                </div>
                <div class="col-2">
                    {{ form.submit(type="submit", class="btn btn-primary rounded-circle") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
