{% extends "base.html" %}

{% block content %}
<div class="container-fluid shadow-sm rounded" style="background-color: #F0F0F0;">
    <div class="row">
        <div class="col-12">
            <h1>Пользователи</h1>
        </div>
    </div>
    <br>

    {% for stranger in strangers %}
    <div class="row shadow-sm rounded">
        <a class="col-9" href="/profile/{{ stranger['id'] }}">
            <h3>{{ stranger['name'] }} {{ stranger['surname'] }}</h3>
        </a>

        {% if stranger['id'] in current_user_friend_requests %}
        <div class="col-3 dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Заявка отправлена
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <a class="dropdown-item" href="/delete_request/{{ stranger['id'] }}/1">Отменить заявку</a>
            </div>
        </div>
        {% else %}
        <div class="col-3">
            <a href="/add_request/{{ stranger['id'] }}" class="btn btn-primary">Добавить в друзья</a>
        </div>
        {% endif %}
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}
