{% extends "base.html" %}

{% block content %}
<div class="container-fluid shadow-sm rounded" style="background-color: #F0F0F0;">
    <div class="row">
        <div class="col-6">
            <h1>Друзья</h1>
        </div>
        <div class="col-3" style="margin: auto auto;">
            <a href="/friend_requests" class="btn btn-secondary">Заявки в друзья</a>
        </div>
        <div class="col-3" style="margin: auto auto;">
            <a href="/find_friends" class="btn btn-primary">Найти друзей</a>
        </div>
    </div>
</div>
<br>

<div class="container-fluid shadow-sm rounded" style="background-color: #F0F0F0;">
    {% for friend in friends %}
    <div class="row shadow-sm rounded">
        <a class="col-12" href="/profile/{{ friend['id'] }}" style="text-decoration: none;">
            <h3>{{ friend['name'] }} {{ friend['surname'] }}</h3>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
