{% extends "base.html" %}

{% block content %}
<div class="container-fluid shadow-sm rounded" style="background-color: #F0F0F0;">
    <div class="row">
        <div class="col-12">
            <h1>Заявки в друзья</h1>
        </div>
    </div>
    <br>

    {% for follower in followers %}
    <div class="row shadow-sm rounded">
        <a class="col-8" href="/profile/{{ follower['id'] }}">
            <h3>{{ follower['name'] }} {{ follower['surname'] }}</h3>
        </a>
        <div class="col-2">
            <a href="/add_friend/{{ follower['id'] }}" class="btn btn-primary">Принять</a>
        </div>
        <div class="col-2">
            <a href="/delete_request/{{ follower['id'] }}/2" class="btn btn-primary">Отклонить</a>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}