{% extends "base.html" %}

{% block content %}
<div class="container-fluid shadow-sm rounded" style="background-color: #F0F0F0;">
    <div class="row">
        <div class="col-12">
            <h1>{{ user.name }} {{ user.surname }}</h1>
        </div>
    </div>

    {% if user.id in current_user_friends %}
    <div class="row">
        <div class="col-12">
            <a class="btn btn-danger" href="/delete_friend/{{ user.id }}">Удалить из друзей</a>
        </div>
    </div>
    {% elif user.id in current_user_friend_requests %}
    <div class="row">
        <div class="col-12 dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Заявка отправлена
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/delete_request/{{ user.id }}/1">Отменить заявку</a>
            </div>
        </div>
    </div>
    {% elif current_user.id in user_friend_requests %}
    <div class="row">
        <div class="col-12">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Действия
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <a class="dropdown-item" href="/add_friend/{{ user.id }}">Принять заявку</a>
                <a class="dropdown-item" href="/delete_request/{{ user.id }}/2">Отклонить заявку</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary" href="/add_request/{{ user.id }}">Добавить в друзья</a>
        </div>
    </div>
    {% endif %}
    <br>

    <div class="row">
        <div class="col-12">
            <h3>Возраст: {{ user.age }}</h3>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-12">
            <h3>О себе</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <textarea style="width: 100%;" class="form-control" rows="3" readonly>{{ user.about }}</textarea>
        </div>
    </div>
    <br>
</div>

<br>

{% for article in news|reverse if not article['is_private'] %}
<div class="container-fluid shadow-sm rounded" style="background-color: #F0F0F0; padding-bottom: 10px;">
    <div class="row">
        <div class="col-10">
            <h3>{{ user.name }} {{ user.surname }}</h3>
            <small>{{ article['created_date']|string|truncate(16, True, '') }}</small>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>{{ article['content'] }}</h5>
        </div>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}

